# Virtual environment
venv/
.venv/
env/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/

# Data files (Exclude large raw dataset)
data/creditcard.csv

# Serialized models and joblib files
*.pkl
*.joblib